@charset "UTF-8";

.mainFrame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding-top: 64px;
    min-height:100vh;
    background-color: rgb(242 242 242);
}
.Frame {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(89vh - 64px);
}
.Frame_Frame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 256px;
}
.Main {
	-webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

/* 프립 승인 페이지 */
.pass_box {
	min-height: 38vh;
    max-height: 38vh;
    overflow: scroll;
    border-bottom: 1px solid #aaa;
    margin-bottom: 30px;
}


.pass_box_title {
	font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 5px;
}

.table {
	background-color: #fff;
}

.table_title {
	border-top: 1px solid;
}

.table th {
	text-align: center;
}
.table th:nth-child(1) {
	width: 5%;
}
.table th:nth-child(2) {
	width: 10%;
}
.table th:nth-child(3) {
	width: 10%;
}
.table th:nth-child(4) {
	width: 30%;
}
.table th:nth-child(5) {
	width: 10%;
}
.table th:nth-child(6) {
	width: 10%;
}
.table th:nth-child(7) {
	width: 10%;
}
.table th:nth-child(8) {
	width: 5%;
}
.table th:nth-child(9) {
	width: 10%;
}

.table td {
	text-align: center;
}
.table td:nth-child(4) {
	text-align: left;
}

/* 프립 승인 페이지 - 상세보기 모달창  */
.viewDetail_btn {
	background-color: #ccc;
}

.final_confirm{
	width: 100%;
    margin-top: 40px;
}
.final_confirm_frame {
	display: flex;
    flex-flow: column nowrap;
    margin: 0px auto;
    width: 80%;
    min-width: 0px;
    border: 1px solid rgb(238, 238, 238);
    padding: 0px;
}

.confirm_img {
	position: relative;
    display: block;
    box-sizing: border-box;
}

.final_frip_info {
	min-height: 1px;
    padding: 0px 24px;
}

.info_section {
	padding-bottom: 64px;
	border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 22px;
    font-size: 12px;
}

.info_title {
	width: 100%;
    min-width: 0px;
    font-size:20px;
    margin-bottom:30px;
}

.info_price {
	display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 4px;
    font-size:20px;
}

.info_section1 {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-bottom: initial;
    padding: 20px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.info_hostInfo {
	display: flex;
}

.info_hostInfo_text {
	margin-left: 15px;
    display: flex;
    align-items: center;
}

.info_section2 {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 22px;
    font-size: 12px;
}
.info_title {
	margin-bottom: 15px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
}

.notice p{
	color:red;
}

.pass_btn {
	padding: 5px 10px;
    margin: 10px 20px;
}
/* 프립 승인 페이지 - 상세보기 모달창  end */

/* 정산 승인 페이지 */
.table table-hover table_cal_pass {
	background-color: #aaa;
}


/* 반응형 */
@media (max-width: 768px){
	.MainFrame{
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding-top: 50px;
	}
	.Frame{
		display: flex;
	    flex-flow: column nowrap;
	    min-height: calc(100vh - 50px);
	}
	.Frame_Frame{
    	padding: 0px 10px;
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-align: stretch;
	    align-items: stretch;
	    -webkit-box-flex: 1;
	    flex-grow: 1;
	    width:100%;
	}
	.Main {
		-webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding: 0px;
	    display: flex;
	    flex-flow: column nowrap;
	    align-content: flex-start;
	}
	
	/* 프립 승인 페이지 */
	.pass_box {
		min-height: 43vh;
	    max-height: 43vh;
	}
}