@charset "UTF-8";

.Category_Main1 a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

button {
	appearance: auto;
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	color: -internal-light-dark(black, white);
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	cursor: default;
	background-color: -internal-light-dark(rgb(239, 239, 239),
		rgb(59, 59, 59));
	box-sizing: border-box;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 6px;
	border-width: 2px;
	border-style: outset;
	border-color: -internal-light-dark(rgb(118, 118, 118),
		rgb(133, 133, 133));
	border-image: initial;
	cursor: pointer;
}

.Category_Main1 button, select {
	text-transform: none;
}

.Category_Main1 button, input {
	overflow: visible;
}

button, input, select, textarea {
	background-color: transparent;
	border-style: none;
	color: inherit;
	font-size: 1em;
	margin: 0;
}

.Category_Main1 audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

.Category_Main1 a, area, button, input, label, select, textarea, [tabindex] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.Category_Main1 button, html [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

.Category_Main1 article, aside, details, figcaption, figure, footer, header, main, menu,
	nav, section, summary {
	display: block;
}

.Category_Main1 a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
}

.Category_Main1 img {
	border-style: none;
}

.Category_Main1 img[Attributes Style] {
	width: 192px;
}

.Category_Main1 * {
	outline: none;
	font-family: inherit;
}

.Category_Main1 *, ::before, ::after {
	background-repeat: no-repeat;
	box-sizing: inherit;
}

section {
	display: block;
}

div {
	display: block;
}

/* --------------------------------------------------------------- */

.Category_Main1 {
	display: flex;
	flex-flow: column nowrap;
	align-content: flex-start;
	margin: 0px auto;
	max-width: 1240px;
	width: 100%;
	padding: 0px 20px;
	min-height: 1px;
}

.Category_Main2 {
	width: auto;
	height: auto;
	transition: opacity 200ms ease-in-out 0s;
	display: none;
	opacity: 0;
	min-width: 0px;
	min-height: 1px;
}

.Category_Name {
	line-height: 20px;
	padding: 20px 0px;
	font-size: 20px;
	font-weight: bold;
}

.Small_Category {
	box-sizing: content-box;
	padding-bottom: 20px;
	font-size: 12px;
	overflow: auto hidden;
	white-space: nowrap;
}

.Small_Category>* {
	margin-right: 20px;
}

.Category_Main3 {
	position: relative;
}

.Category_Filter {
	display: flex;
	padding-top: 5px;
	padding-bottom: 40px;
	overflow-x: auto;
	white-space: nowrap;
}

.Category_Filter>* {
	margin-right: 16px;
}

.Category_Filter_When {
	display: flex;
}

.Category_Filter1 {
	display: flex;
	position: relative;
	-webkit-box-align: center;
	align-items: center;
}

.Category_Filter2 {
	width: auto;
	height: auto;
	line-height: 14px;
	padding: 11px 20px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
	color: initial;
	font-size: 14px;
	font-weight: 500;
}

.Category_Filter_Where {
	display: inline;
	position: relative;
}

.Category_Title {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
	line-height: 18px;
	font-size: 14px;
}

.Category_Title1 {
	display: flex;
	max-width: calc(100% - 62px);
	font-size: 18px;
	line-height: 22px;
}

.Category_Title2 {
	display: block;
	margin-right: 8px;
	font-weight: bold;
	color: black;
	font-size: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.Category_Title_Count {
	font-weight: 300;
}

.Category_List_All {
	min-width: 52px;
}

.Category_List_All1 {
	color: black;
	width: 52px;
}

.Category_Main1 .Category_List {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	min-height: 1px;
	padding-bottom: 18px;
}

.Category_List1 {
	display: flex;
	flex-flow: row wrap;
	min-height: 1px;
}

.Category_List1>* {
	margin-right: 15px;
	margin-bottom: 30px;
	width: calc(20% - 12px) !important;
}

.Category_List1>:nth-child(5n) {
	margin-right: 0px;
}

.Category_List2 {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background-color: white;
	min-height: 1px;
}

.Category_List3 {
	min-height: 1px;
}

.Category_List4 {
	overflow: hidden;
}

.Category_List5 {
	position: relative;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	min-height: 1px;
	border-radius: 5px;
	background-color: rgb(250, 250, 250);
}

.Category_List6 {
	position: absolute;
	left: 0px;
	right: 0px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 10px;
	z-index: 1;
}

.Category_List_Place {
	margin: 2px 0px 0px 2px;
	height: 10px;
	color: white;
	font-size: 10px;
	font-weight: 500;
	line-height: 10px;
	text-shadow: rgb(0 0 0/ 30%) 0px 0px 10px;
}

.Category_Pick {
	width: 24px;
	height: 24px;
	line-height: normal;
	padding: 0px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
}

.Category_List7 {
	min-height: 1px;
}

.Category_List_Img {
	display: none !important;
}

.Category_List_Img1 {
	display: initial;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.Category_List_State {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 1;
	padding: 15px;
}

.Category_List_State1 {
	width: 57px;
	height: 27px;
	border-radius: 5px;
	color: white;
	font-size: 11px;
	font-weight: bold;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	display: none;
}

.Frip_Title {
	margin-top: 14px;
	font-size: 12px;
	height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 14px;
	color: rgb(155, 155, 155);
}

.Frip_Title1 {
	margin-top: 10px;
	height: auto;
	max-height: 40px;
	line-height: 20px;
	font-size: 14px;
	word-break: keep-all;
	overflow-wrap: break-word;
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.Frip_Price {
	margin-top: 14px;
	line-height: 14px;
	height: 14px;
}

.Frip_Price {
	font-size: 14px;
	font-weight: 900;
}

.Frip_Price2 {
	margin-left: 4px;
	color: rgb(187, 187, 187);
	font-size: 12px;
	text-decoration: line-through;
}

.Frip_Grade {
	margin-top: 14px;
	display: flex;
}

.Frip_Grade1 {
	font-size: 11px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	color: rgb(187, 187, 187);
}

.Frip_Grade1>img {
	margin-right: 2px;
}

.Frip_New {
	margin-left: 6px;
}

.Category_List_All2 {
	width: 100%;
	line-height: 13px;
	font-size: 13px;
}

.Category_List_All2>* {
	padding: 18px;
}

.Category_List_All3 {
	display: block;
	margin: 0px auto 40px;
	width: 100%;
	max-width: 450px;
	line-height: 13px;
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
	font-size: 13px;
	text-align: center;
}