@charset "UTF-8";

a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

p, label {
    margin: 0px;
}
    
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

/* ------------------------------------------------------------ */



.Content_Main1 {
    margin: 0px auto;
	flex-flow: column nowrap;
	align-content: flex-start;
    max-width: 1240px;
	width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.Content_Main2 {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.Content_Main3 {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    display: flex;
    margin: 0px auto;
    width: 100%;
    height: auto;
}

.Content_Main4 {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    min-width: 0px;
    width: 100%;
    padding: 40px 30px 30px;
}

.Content_Head1 {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    max-width: 1200px;
    padding-bottom: 24px;
}

.Content_Head1 > * {
    width: 50%;
    max-width: 500px;
}

.Content_Head1_Img1 {
    position: relative;
    text-align: center;
    width: 100%;
    min-height: 1px;
}

.Content_Head1_Img2 {
    visibility: hidden;
}

.Content_Head1_Img2.image-initialized {
    visibility: visible;
}

.image-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    max-height: 468px;
}

.Content_Head1_Img2 .image-arrow.image-prev {
    left: 10px;
}

.Img_LeftBtn {
    z-index: 1;
    width: 50px !important;
    height: 50px !important;
    transform: rotate(180deg) translate(0px, 50%) !important;
}

.image-prev:before {
    content: '←';
}

.image-prev:before, .image-next:before {
    font-family: 'image';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.image-track:before, .image-track:after {
    display: table;
    content: '';
}

.image-prev {
    left: -25px;
}

.image-prev, .image-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.Content_Qna1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.Content_Qna2 {
	min-height: 60px;
	line-height: 24px;
	padding: 18px 0px;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
	border-bottom: 1px solid rgb(230, 230, 230);
}


.Content_Head1_Img2 .image-list {
    border-radius: 5px;
}

.image-slider .image-track, .image-slider .image-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.image-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 468px;
}

.image-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 468px;
}

.image-initialized .image-slide {
    display: block;
}

.image-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    max-height: 468px;
}

.Content_Img1 {
    min-height: 1px;
}

.Content_Img2 {
    display: none !important;
}

.Content_Img3 {
    display: initial;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.image-track:after {
    clear: both;
}

.Content_Head1_Img2 .image-arrow.image-next {
    right: 10px;
}

.Img_RightBtn {
    width: 50px !important;
    height: 50px !important;
}

.image-next {
    right: -25px;
}

.Img_Page1 {
    position: absolute;
    bottom: 16px;
    font-size: 12px;
    color: white;
    width: 100%;
}

.Img_Page2 {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 6px 9px;
}

.Content_Head2 {
    padding: 0px 0px 0px 6px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.Content_Head3 {
    height: 100%;
    position: relative;
    padding: 0px 0px 12px;
    border-bottom: initial;
}

.Content_Intro2 {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.8;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

.Content_Title1 {
    width: 100%;
    min-width: 0px;
}

.Content_Title2 {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
}

.Content_Title3 {
    margin: 0px;
    max-width: 450px;
    line-height: 30px;
    font-size: 30px;
    letter-spacing: -0.6px;
    word-break: keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: rgb(51, 51, 51);
}

.Content_Price1 {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 4px;
}

.Content_Price2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: -0.72px;
    color: rgb(51, 51, 51);
    margin-right: 6px;
}

.Content_Price3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.42px;
    color: rgb(51, 51, 51);
}

.Content_Intro2:last-child {
    border-bottom: initial;
    padding-bottom: initial;
}

.Host_Profile1 {
    border-top: 1px solid rgb(238, 238, 238);
    padding-right: 12px;
}

.Host_Profile2 {
    display: flex;
    flex-flow: column nowrap;
}

.Host_Profile3 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
}

.Host_Profile4 {
    display: flex;
    width: 100%;
}

.Host_Profile_Img {
    margin-right: 20px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    min-width: 56px;
    border-radius: 28px;
}

.Host_Profile5 {
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

.Host_Profile_Name1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 212px;
}

.Host_Profile_Name2 {
    display: inline-flex;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
}

.Host_Profile_Name2 > span {
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Host_Profile6 {
    margin-top: 2px;
    color: rgb(170, 170, 170);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.36px;
}

.Host_Profile6 > span {
    color: rgb(221, 221, 221);
    font-size: 10px;
    vertical-align: top;
    display: inline-block;
    padding: 0px 6px;
}

.Host_Pick {
    width: 32px;
    height: 32px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

.Content_Review1 {
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.Content_Grade1 {
    padding: 32px 0px 24px;
}

.Content_Grade2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.Content_Grade3 {
    display: flex;
    flex-flow: row nowrap;
}

.Content_Grade3 > img {
    margin-right: 1px;
}

.Content_Grade4 {
    margin-left: 8px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.48px;
}

.Content_Grade5 {
    color: rgb(119, 119, 119);
    padding: 0px 6px;
}

.Content_Grade6 {
    color: rgb(119, 119, 119);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
}

.Content_Grade7 {
    color: rgb(51, 51, 51);
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    margin-top: 8px;
}

.Content_Review2 {
    padding-top: 24px;
    border-top: 1px solid rgb(219, 237, 255);
    border-bottom: 0px;
    background-color: rgb(244, 250, 255);
    overflow: hidden;
    margin-bottom: 56px;
    max-height: 581px;
}

.Content_Review3 {
    margin-bottom: 12px;
    padding: 0px 18px;
    max-height: 468px;
}

div[Attributes Style] {
    direction: ltr;
    unicode-bidi: isolate;
}

.Content_Review4 .image-arrow.image-disabled {
    display: none !important;
}

.Content_Review4 .image-arrow.image-prev {
    left: -18px;
}

.Content_Review4 .image-arrow {
    top: 25%;
}

.Content_Review5 {
    z-index: 1;
    width: 52px !important;
    height: 52px !important;
    transform: rotate(180deg) translate(0px, 50%) !important;
}

.Content_Review6 {
    margin: 0px 14px 12px;
    width: 248px;
}

.Content_Review4 .image-list {
    overflow: visible;
}

.Content_Review4 .image-track {
    margin-left: inherit;
    margin-right: inherit;
}

.Content_Review_Img1 {
    border-radius: 3px;
    overflow: hidden;
    min-height: 248px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 18px;
    width: 248px;
}

.Content_Review_Img2 {
    display: initial;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.Content_Review7 {
    width: 100%;
}

.Content_Review_Profile1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}

.Content_Review_Profile2 {
    width: 40px;
    height: 40px;
}

.Content_Review_Profile3 {
    display: initial;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.Content_Review_Profile4 {
    margin-left: 9px;
}

.Content_Review_Profile5 {
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    font-weight: bold;
    margin-bottom: 1px;
}

.Content_Review_Comment {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: rgb(51, 51, 51);
    letter-spacing: -0.42px;
    margin-bottom: 22px;
    word-break: break-all;
    font-size: 14px;
    line-height: 22px;
    height: 88px;
}

.Good_Review_Btn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(221, 221, 221);
}

.Good_Review_Btn img {
    width: 15px;
    margin-right: 6px;
}

.Content_Review4 .image-arrow.image-next {
    right: -18px;
}

.Review_Right_Btn {
    width: 52px !important;
    height: 52px !important;
}

.Content_Review_All1 {
    padding-top: 20px;
}

.Content_Review_All2 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 117, 239);
    height: 56px;
    border-top: 1px solid rgb(219, 237, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.48px;
}

.gzsUKO img {
    width: 12px;
    margin-left: 2px;
}

.Content_Intro1 {
    min-height: 1px;
}

.Content_Intro3 {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0px;
}

.Content_Intro4 {
    margin: 0px;
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
}

.Content_Intro5 {
	padding: 0 20px;
	margin: 0;
}

.Content_Intro5 img {
	width: calc(100% + 40px);
	max-width: calc(100% + 40px);
	margin-left: -20px;
}

.Content_Intro5 li {
	list-style-position: inside;
}

.Content_Intro5 p {
	margin: 0;
}

.Content_Plan1 {
    margin-bottom: 20px;
}

.Content_Plan2 > td {
    height: 22px;
    padding: 0px 0px 10px;
}

.Content_Plan3 {
    width: 60px;
    padding-right: 10px;
}

.Content_Plan1 tr:last-of-type > td {
    padding: 0px;
}

.Content_Warning {
    margin-bottom: 10px;
    color: rgb(255, 102, 102);
    padding: 0px 20px;
}

.Content_Main5 {
    padding: 0px;
}

.Content_Main6 {
    position: relative;
    display: block;
    width: 100%;
    margin: 0px;
    color: black;
    border-top: 1px solid white;
}

.Content_Main6:last-of-type {
    border-bottom: 1px solid white;
}

.Content_Main7 {
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 22px;
    background-color: white;
    transition: background-color 0.4s ease 0s;
    cursor: pointer;
    text-align: left;
}

.Content_Main8 {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
}

.Content_Main9 {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 16px;
    right: 0px;
    cursor: pointer;
    opacity: 1;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: opacity 0.2s ease 0s, transform 0.5s ease 0s;
}

.Content_Main10 {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
}

.Content_Main11 {
    display: block;
    overflow: hidden auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
    transform-origin: left top;
    height: 0px;
}

.Content_Main12 {
    margin-bottom: 10px;
}

.Content_Main12 > div {
    margin-bottom: 10px;
}

.Content_Main13 {
    display: flex;
}

.Content_Main14 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-top: 2px;
    margin-right: 12px;
    width: 18px;
    height: 18px;
}

.Content_Main12 > div:last-child {
    margin-bottom: 0px;
}

.Content_Main15 {
    font-size: 18px;
    line-height: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    font-weight: bold;
}

.Under_Bar1 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 12px 20px 24px;
    box-shadow: rgb(0 0 0 / 8%) 0px -10px 30px -10px;
    background-color: white;
    z-index: 200;
}

.Under_Bar2 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    max-width: 768px;
}

.Frip_Pick {
    padding: 0px;
    margin-right: 20px;
    height: 48px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.Frip_Pick_Count {
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    white-space: nowrap;
    margin-top: -4px;
}

.Under_Bar4 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.Under_Bar3 {
    width: 100%;
    height: 56px;
    line-height: 24px;
    padding: 0px 13px;
    background-color: rgb(0, 117, 239);
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    margin: 0px;
}

.Under_Bar5 {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}



.Content_Recommend1 {
    max-width: 1200px;
    border: 0px;
}

.Content_Recommend1 > header {
}

.Content_Recommend2 {
    display: flex;
	min-height: 1px;
	justify-content: space-between !important;
}

.Content_Recommend2 > div {
    margin-right: 15px;
	margin-bottom: 30px;
	width: calc(20% - 12px) !important;
}

..Content_Recommend2>:nth-child(5n) {
	margin-right: 0px;
}

.Content_Recommend3 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    background-color: white;
    min-height: 1px;
}

.Content_Recommend4 {
    min-height: 1px;
}

.Content_Recommend5 {
    overflow: hidden;
}

.Content_Recommend6 {
    position: relative;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    min-height: 1px;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
}

.Content_Recommend_Place1 {
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
}

.Content_Recommend_Place2 {
    margin: 2px 0px 0px 2px;
    height: 10px;
    color: white;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    text-shadow: rgb(0 0 0 / 30%) 0px 0px 10px;
}

.Content_Recommend_State1 {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    padding: 15px;
}

.Content_Recommend_State2 {
    width: 57px;
    height: 27px;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: none;
}

.Frip_Title1 {
    margin-top: 12px;
    font-size: 10px;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
    color: rgb(155, 155, 155);
}

.Frip_Title2 {
    margin-top: 6px;
    height: auto;
    max-height: 36px;
    line-height: 18px;
    font-size: 12px;
    word-break: keep-all;
    overflow-wrap: break-word;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.Frip_Price1 {
    margin-top: 12px;
    line-height: 14px;
    height: 14px;
}

.Frip_Price2 {
    font-size: 14px;
    font-weight: 900;
}

.Frip_Price3 {
    margin-left: 4px;
    color: rgb(187, 187, 187);
    font-size: 12px;
    text-decoration: line-through;
}

.Frip_Grade1 {
    margin-top: 12px;
    display: flex;
}

.Frip_Grade2 {
    font-size: 11px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(187, 187, 187);
}

.Frip_Grade2 > img {
    margin-right: 2px;
}

@media (max-width: 768px){
    .navbar{
        visibility: hidden !important;
    }
}






