@charset "UTF-8";
.mainFrame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding-top: 64px;
    min-height:100vh;
    background-color: rgb(242 242 242);
}
.Frame {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(100vh - 64px);
}
.Frame_Frame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 256px;
}
.Main {
	-webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    height:100%;
}

.Main_title {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 7px 0px 18px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.Main_title h1{
    font-size: 2em;
    margin: .67em 0;
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.Main_line {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    min-height:75vh;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex: 0 0 auto;
    visibility: visible;
    max-height: 9999px;
}

.Main_line_hidden {
    width: 100%;
    height: auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    overflow: hidden;
    visibility: hidden;
    max-height: 0px;
}

.Main_line_1 {
	width:100%;
	background-color: white;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-pack: justify;
    align-items: flex-start;
    padding: 20px 18px;
    flex: 1 0 55%;
    height:auto;
	min-width:3%;
}
.Main_line_2 {
	width:100%;
	background-color: white;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 18px;
    border-left:1px solid rgb(230, 230, 230);
    flex: 0 0 45%;
}

.Main_line_title{
	font-size:35px;
	width:100%;
	margin-bottom:40px;
	line-height:1.3;
	font-weight:100;
	font-style:normal;
	font-stretch: normal;
    letter-spacing: normal;
	font-color:rgb(74, 74, 74);
}

.Category{
	width:100%;
}

.selectBox{
	padding:7px;
	width:120px
}
.MakeTip{
    color: rgb(51, 153, 255);
    font-size: 12px;
    line-height: 1.83;
    margin-top: 6px;
}

.nextButton{
	width:50px;
	height:50px;
	display:inline;
}
.prevButton{
	width:50px;
	height:50px;
	display:inline;
}
.submitButton {
	width:50px;
	height:50px;
	display:inline;
}
.frip_title {
	margin-top : 100px;
}
.text {
	width:300px;
	height:35px;
	border-radius : 5px;
}
.little_title{
	font-size:20px;
	margin-bottom:20px;
	min-width:120px;
}

.people input {
	text-align:center;
}
.optionNumber{
	width:200px;
	height:30px;
	padding-left:10px;
	border: 1px solid #ccc;
	border-radius:4px;
}
.schedule_option{
	width:100%;
}
.optionText {
	width:80%;
	height:40px;
	padding-left:10px;
	border: 1px solid #ccc;
	border-radius:4px;
	margin-bottom: 20px;
}
.schedule {
	display:flex;
	flex-flow: column nowrap;
	width:100%;
}
.schedule span{
	margin-left:20px;
	color:rgb(187, 187, 187);
}
.deleteButton{
	display:inline;
	margin-left:10px;
    height: 40px;
    background-color: white;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    border:0px solid white;
    padding-top:10px;
}

.choiseLocation{
	margin-top:20px;
	margin-bottom:100px;
	position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width:100%;
}

.address {
	width:60%;
	height:60%;
}
.findAddress {
	margin-left:10px;
	width:30%;
	height:60%;
	background-color:white;
	border: 1px solid rgb(51, 153, 255);
	border-radius:4px;
}
.detailAddress{
	margin-top:10px;
	width:92%;
	height:60%;
}

.timeTable{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height:30px;
}

.timeTableCont{
	display:flex;
	width:100%;
	padding: 16px 0px 0px;
	min-height:50px;
}
textarea {
	width:100%;
	resize:none;
}
.smart_editor2_content {
	width:100%;
}

.final_confirm{
	width: 100%;
    margin-top: 40px;
}
.final_confirm_frame {
	display: flex;
    flex-flow: column nowrap;
    margin: 0px auto;
    width: 377px;
    max-width: 377px;
    min-width: 0px;
    border: 1px solid rgb(238, 238, 238);
    padding: 0px;
}

.confirm_img {
	position: relative;
    display: block;
    box-sizing: border-box;
}

.final_frip_info {
	min-height: 1px;
    padding: 0px 24px;
}

.info_section {
	padding-bottom: 64px;
	border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 22px;
    font-size: 12px;
}

.info_title {
	width: 100%;
    min-width: 0px;
    font-size:20px;
    margin-bottom:30px;
}

.info_price {
	display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 4px;
    font-size:20px;
}

.info_section1 {
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 12px;
    line-height: 22px;
    border-bottom: initial;
    margin:20px 0px;
}

.info_hostInfo {
	display: flex;
}

.info_hostInfo_text {
	margin-left:15px;
}

.info_section2 {
	border-top: 8px solid rgb(244, 244, 244);
    border-bottom: 8px solid rgb(244, 244, 244);
    width: calc(100% + 48px);
    margin-left: -24px;
    padding: 24px;
    line-height: 22px;
    font-size: 12px;
}

.info_section3 {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 22px;
    font-size: 12px;
}
.info_title {
	margin-bottom: 15px;
    line-height: 14px;
    font-size: 14px;
    font-weight: bold;
}

.notice p{
	color:red;
}

#naverEditor{
	height:50%;
}
@media (max-width: 854px){
	.MainFrame{
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding-top: 50px;
	}
	.Frame{
		display: flex;
	    flex-flow: column nowrap;
	    min-height: calc(100vh - 50px);
	}
	.Frame_Frame{
    	padding: 0px 10px;
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-align: stretch;
	    align-items: stretch;
	    -webkit-box-flex: 1;
	    flex-grow: 1;
	    width:100%;
	}
	.Main {
		-webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding: 0px;
	    display: flex;
	    flex-flow: column nowrap;
	    align-content: flex-start;
	}
	
	.Main_line_1 {
		width:100%;
		background-color: white;
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-pack: justify;
	    align-items: flex-start;
	    padding: 20px 18px;
	    flex: 1 0 55%;
	    height:auto;
		min-width:3%;
	}
	.Main_line_2{
	    width:0%;
	    height: auto;
	    -webkit-box-flex: 0;
	    flex: 0 0 auto;
	    overflow: hidden;
	    visibility: hidden;
	    padding: 0px;
	    max-height: 0px;
    }
}