@charset "UTF-8";
.mainFrame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding-top: 64px;
    min-height:100vh;
    background-color: rgb(242 242 242);
}
.Frame {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(89vh - 64px);
}
.Frame_Frame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 256px;
}
.Main {
	-webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

.Main_title {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 7px 0px 18px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
}

.searchAsk {
	width:100%;
	height:20px;
}

.searchAsk button {
	border:0px solid black;
	background-color:rgb(242 242 242);
}
.info_frame{
	-webkit-box-flex: 1;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    margin-top:30px;
}
.list_inner {
	margin-right: 14px;
    width: calc(20% - 11.25px);
    margin-bottom: 60px;
}

.list_inner:nth-child(5n) {
	margin-right: 0px;
}


.class_info {
	position: relative;
    margin-bottom: 10px;
}

.place_like {
	position: absolute;
    margin: 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    /* z-index: 1; */
}

.class_place {
	color: #fff;
    font-size: 11px;
    font-weight: bold;
}

.like_btn {
	border: none;
    background-color: transparent;
}

.class_img {
	width: 100%;
}

.class_hash {
	font-size: 12px;
    font-weight: bold;
    color: #aaaaaa;
    height: 15px;
    overflow: hidden;
	margin-bottom: 12px;
}

.class_title {
	font-size: 14px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

.class_price {
	font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.class_star {
	font-size: 11px;
    font-weight: bold;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(187, 187, 187);
}

.class_group {
	display: flex;
	/* flex-flow: row wrap; */
	min-height: 1px;
	margin-top: 50px;
	margin-left: 50px;
	width:90%;

}

.class_item {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background-color: white;
	min-height: 1px;
}

.class_group>* {
	margin-right: 20px;
	margin-bottom: 30px;
	width: calc(25% - 11.25px) !important;
}

.class_item_link {
	min-height: 1px;
}

.class_item_div {
	overflow: hidden;
}

.class_item_thumbnail {
	position: relative;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	min-height: 1px;
	border-radius: 5px;
	background-color: rgb(250, 250, 250);
}

.class_item_top {
	position: absolute;
	left: 0px;
	right: 0px;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 10px;
	z-index: 1;
}

.class_area {
	margin: 2px 0px 0px 2px;
	height: 10px;
	color: white;
	font-size: 10px;
	font-weight: 500;
	line-height: 10px;
	text-shadow: rgb(0 0 0/ 30%) 0px 0px 10px;
}

.class_like_btn {
	width: 24px;
	height: 24px;
	line-height: normal;
	padding: 0px;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	outline: none;
	border: 0;
}

.class_item_top>i {
	font-size: 24px;
}

.nopush {
	color: white;
}

.push {
	color: rgb(255, 102, 102);
}

.class_item_hash {
	margin-top: 14px;
	font-size: 12px;
	height: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 14px;
	color: rgb(155, 155, 155);
}

.state_text {
	float:right;
	font-size:15px;
}
.class_item_price {
	margin-top: 14px;
	line-height: 14px;
	height: 14px;
}

.class_Button_div1 {
	margin-top: 14px;
	display: flex;
	background-color:rgb(51, 153, 255);
	height: 40px;
	
}

.class_Button_div1 a {
	background-color:rgb(51, 153, 255);
	color:white;
	font-size:12px;
	margin-left:45%;
	margin-top:10px;
}

.menuButton {
	border-color:white;
}

.askTitle{
	height:20px;
	width:80%;
}

.option_item_cont{
	margin-top:20px;
	text-align:left;
}

.table td, th{
	vertical-align:middle;
	text-align:center;
}

.option_item_cont {
	margin-left:20px;
}
.qna_list_footer {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	width: 100%;
	padding: 30px 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.list_footer {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	width: 100%;
	padding-right:30px;
	background-color: white;
	margin-bottom: 20px;
}

.page_link {
	color: black;
	padding: .375rem .75rem;
	border-radius: 50%;
	margin-right: 5px;
	text-decoration: none;
}

.page_link:hover {
	background-color: #dedede;
}

.paging_active {
	color: rgb(51, 151, 255);
}

@media (max-width: 768px){
	.MainFrame{
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding-top: 50px;
	}
	.Frame{
		display: flex;
	    flex-flow: column nowrap;
	    min-height: calc(100vh - 50px);
	}
	.Frame_Frame{
    	padding: 0px 10px;
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-align: stretch;
	    align-items: stretch;
	    -webkit-box-flex: 1;
	    flex-grow: 1;
	    width:100%;
	}
	.Main {
		-webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding: 0px;
	    display: flex;
	    flex-flow: column nowrap;
	    align-content: flex-start;
	}
	.askTitle{
		height:20px;
	}
}
}