@charset "UTF-8";
.mainFrame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding-top: 64px;
    min-height:100vh;
    background-color: rgb(242 242 242);
}
.Frame {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(89vh - 64px);
}
.Frame_Frame{
	display: flex;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding-left: 256px;
}
.Main {
	-webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
}

.answer_frame {
	width:100%;
	display:flex;
	margin-top:20px;
	background-color:white;
	height:100%;
	padding: 20px 20px;
	flex-direction: column;
}

.answer_frame_ask{
	width:100%;

}

.askCont {
	width:100%;
	margin-top:20px;
	padding: 10px;
	
}
.answer_frame_answer{
	margin-top:20px;
	width:100%;

}

.writeButton{
	float:right;
}

.answer_frame textarea {
	margin-top:20px;
	width:100%;
	resize:none;
}

.writerInfo {
	background-color:rgb(244, 244, 244);
	height:40px;
	padding-top:7px;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.writerInfoCont {
	margin-left:10px;
	margin-right:30px;
}

@media (max-width: 768px){
	.MainFrame{
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding-top: 50px;
	}
	.Frame{
		display: flex;
	    flex-flow: column nowrap;
	    min-height: calc(100vh - 50px);
	}
	.Frame_Frame{
    	padding: 0px 10px;
	    display: flex;
	    flex-flow: column nowrap;
	    -webkit-box-align: stretch;
	    align-items: stretch;
	    -webkit-box-flex: 1;
	    flex-grow: 1;
	    width:100%;
	}
	.Main {
		-webkit-box-flex: 1;
	    flex: 1 1 auto;
	    padding: 0px;
	    display: flex;
	    flex-flow: column nowrap;
	    align-content: flex-start;
	}
	
}