@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap');

@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Regular.otf") format("opentype");
  font-style: normal;
}

/* 숫자는 폰트 OpenSans로 지정 */
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  unicode-range: U+0030-0039;
  font-style: normal;
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}
.hostMenuBar {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    background-color: rgb(34, 34, 34);
    color: white;
    z-index: 2000;
    height: 64px;
    padding: 17px 30px;
}

.homeButton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.userName{
	color: white;
	text-decoration: none;
}
.img_style {
	display: initial;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}
@media (max-width: 768px) {
	.hostMenuBar{
		display:none;
	}
}