@charset "UTF-8";

/* 1차 방법 */
/* .likePage_box {
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 30px 0 750px 0;
}

.likePage_menu {
	max-width: 768px;
    width: 100%;
    display: flex;
} */

.likePage_box {
	max-width: 768px;
    margin: 30px auto 750px;
}

.likePage_menu {
	width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.menu_title {
	
}

.like_menu_btn {
	border: none;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-right: 50px;
}

.like_menu_btn::after {
	content: "";
    display: block;
    margin: 9px auto 0px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(51, 151, 255);
}

.likePage_list {
	display: flex;
    flex-flow: row wrap;
}

.list_inner {
	margin-right: 15px;
    /* -webkit-box-flex: 0; */
    /* flex: 0 1 calc(25% - 11.25px); */
    width: calc(25% - 11.25px);
    max-width: 170px;
    margin-bottom: 60px;
}

.class_info {
	position: relative;
    margin-bottom: 10px;
}

.place_like {
	position: absolute;
    margin: 10px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    left: 0px;
    right: 0px;
    /* z-index: 1; */
}

.class_place {
	color: #fff;
    font-size: 11px;
    font-weight: bold;
}

.class_like {
	
}

.class_img {
	width: 100%;
}

.class_hash {
	font-size: 12px;
    font-weight: bold;
    color: #aaaaaa;
    height: 15px;
    overflow: hidden;
	margin-bottom: 12px;
}

.class_title {
	font-size: 14px;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
    margin-bottom: 12px;
}

.class_price {
	font-size: 16px;
    font-weight: bold;
}












