@charset "UTF-8";

.myenergy {
	color: rgb(51, 151, 255);
	font-size: 13px;
	font-weight: bold;
}

.myenergy_count {
	color: rgb(51, 151, 255);
	font-size: 16px;
	font-weight: bold;
	margin-top: 13px;
}

.energy_list_wrapper {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	flex-wrap: wrap;
}

.energy_cont_wrapper:nth-child(1) {
	margin-top: 40px;
	width: 100%;
}

.energy_cont_wrappr {
	position: relative;
	overflow-x: hidden;
	min-height: 150px;
}

/* .energyCard_wrapper {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 5px;
	background-color: white;
} */

.energyCard_date {
	line-height: 5px;
	font-size: 10px;
	color: rgb(155, 155, 155);
}

.energyCard_header {
	display: flex;
}

.energyCard_date_wrapper:nth-child(1)>.energyCard_date:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px solid rgb(238, 238, 238);
	background-color:white;
	border-radius: 50%;
	left:91px;
}

.energyCard_date_wrapper {
	position: relative;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	width: 96px;
	height: 96px;
	cursor: pointer;
	margin: 0px 20px 0px 0px;
	cursor: pointer;
	border-right: 2px solid rgb(238, 238, 238);
}

.energyCard_content_wrapper {
	line-height: 19px;
	font-size: 11px;
}

.energyCard_info {
	display: flex;
	flex-direction: column;
	min-width: 0px;
}

.energyCard_header_title {
	line-height: 10px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 13px;
}