@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Open+Sans&display=swap');


@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/NotoSansKR-Regular.otf") format("opentype");
  font-style: normal;
}

/* 숫자는 폰트 OpenSans로 지정 */
@font-face {
  font-family: "Noto Sans KR";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  unicode-range: U+0030-0039;
  font-style: normal;
}

*{
	font-family: 'Noto Sans KR', sans-serif;
}

#app {
	background-color: white;
	min-height: 100%;
	min-width: 100%;
}

.main {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
}

.article {
	min-height: 1px;
}

.list_footer {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-flex: 0;
	flex: 0 0 auto;
	width: 100%;
	padding: 30px 0px;
	background-color: white;
	margin-top: 20px;
	margin-bottom: 20px;
}

.page_link {
	color: black;
	padding: .375rem .75rem;
	border-radius: 50%;
	margin-right: 5px;
}

.page_link:hover {
	background-color: #dedede;
}

.paging_active {
	color: rgb(51, 151, 255);
}